<%= form_for @post, html: {multipart: true} do |f| %>
<% if @post.errors.any? %>
		<div id="errors">
			<h4><%= pluralize(@post.errors.count, "error") %> prevented this post from saving:</h4>
			<ul>
				<% @post.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
<p>
  <%= f.label :title %>
  <%= f.text_field :title %>
</p>
<p>
	<%= f.label :image %>
	<%= f.file_field :image  %>
 </p>
 <p>
    <label>Image Url:</label>
    <%= f.text_field :remote_image_url ,placeholder: "www.yourfile.com/file.jpg"%>
  </p>
	<p>
		  <%= image_tag(@post.image_url) %>
	</p>
	<% if @post.image.present? %>
	<p>
    <label>
      <%= f.check_box :remove_image %>
      Remove image
    </label>
  </p>
	<% end %>
<p>
  <%= f.label :body %>
  <%= f.text_area :body %>
</p>
<p>
  <%= f.submit class: 'button-primary' %>
</p>
<% end %>
